@use 'scrollArrow';
@use 'animations' as *;
@use './fonts' as *;
@use './utils' as *;

.scrollComponent {
  position: relative;

  transition: $transitionIn;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: all;
  touch-action: all;
  scroll-behavior: smooth;

  // display: flex;
  // flex-direction: column;
  // align-items: center;

  //scroll-snap-type: y mandatory;
  &:not(.in) {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    position: relative;
    font-family: $serif;
    font-size: $bigHeaderFontSize;
  }
  p {
    font-family: $sans-serif;
    font-weight: 200;
  }

  #aboutBack {
    position: fixed;
    right: 5%;
    top: 3%;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 10;
  }
  #aboutBack:hover {
    cursor: pointer;

    &::before {
      transform: rotate(225deg);
    }

    &::after {
      transform: rotate(-45deg) scale(-1);
    }
  }
  #aboutBack::before,
  #aboutBack::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;

    transition: transform 0.25s ease-in-out;
  }
  #aboutBack::before {
    transform: rotate(45deg);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
  }
  #aboutBack::after {
    transform: rotate(-45deg) scale(1);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
  }

  > * {
    margin: 0 auto;
    width: clamp(300px, 100%, 1500px);
  }
}

#aboutLanding {
  display: grid;
  height: 100vh;
  grid-template-areas:
    '.        .     '
    'header   header'
    'descText graph '
    '.        .     ';

  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr auto auto 1fr;

  h1 {
    grid-area: header;
    margin-bottom: 3.5rem;
  }

  .textContent {
    grid-area: descText;

    p {
      max-width: 60ch;
      font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
      margin-bottom: 1rem;
    }

    .toc {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      font-size: 1.25rem;
    }
  }

  .imgWrapper {
    grid-area: graph;
    display: grid;
    place-items: center;

    img {
      max-width: min(100%, 600px);
      max-height: min(100%, 600px);
    }
  }

  .arrowWrapper {
    position: absolute;
    overflow: visible;

    transform: translateX(-50%);

    left: 50%;
    bottom: 5%;
  }
}

// .aboutSections {
//   display: flex;
//   position: relative;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   height: 100vh;

//   img {
//     height: auto;
//     width: 35%;
//   }

//   scroll-snap-align: start;
// }

#sectionInfo {
  background-color: rgb(20, 24, 22);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  .wrapper {
    width: $fullWidthClamped;
    margin: 2.5rem 0;
  }

  h1 {
    margin-bottom: 2rem;
  }

  .subHead {
    font-weight: 600;
    text-align: center;
    margin: 5rem auto 3.5rem;
    max-width: 75ch;

    font-size: clamp(1.125rem, 1.2rem + 0.2vw, 2.5rem);
  }

  .callout {
    width: max-content;
    margin: 5rem auto;
    padding: 2rem 3rem;

    border-radius: 20px;
    background-color: rgb(25, 31, 28);
    color: white;

    box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);

    p {
      text-align: center;
      max-width: 75ch;
      font-size: clamp(1.125rem, 1.2rem + 0.135vw, 2rem);
    }
  }

  .graphSection {
    display: grid;
    gap: 1.5rem;
    max-width: 100%;
    margin: 1rem 0;

    grid-template-columns: clamp(75px, 50%, 60ch) auto;

    .aboutCol {
      max-width: 60ch;
      font-size: 1.2rem;
      line-height: 2rem;
    }

    .graphCol {
      max-height: min(100%, 600px);
    }
  }

  .doubleGraphSection {
    display: grid;
    gap: 1.5rem;
    max-width: 100%;
    margin: 1rem 0;

    grid-template-columns: 50% 50%;

    .graphCol {
      max-height: min(100%, 600px);

      img {
        max-width: 100%;
      }
    }
  }
}

#aboutInsight {
  background-color: rgb(236, 236, 232);
  opacity: 0.95;
  height: 120vh;
  h1,
  p {
    color: rgb(61, 61, 61);
  }
  img {
    height: auto;
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .scrollComponent {
    display: block;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    font-size: 3.5vw;

    #aboutBack {
      top: 20%;
      margin-left: 5%;
    }

    .aboutCol {
      img {
        margin-left: 12%;
        width: 70%;
      }
    }

    #sectionInfo {
      height: 240vh;
    }

    #aboutActions {
      height: 150vh;
    }
  }
}
