@use 'scrollArrow';
@use 'animations' as *;
@use './fonts' as *;
@use './utils' as *;

.scrollComponent {
  position: relative;

  transition: $transitionIn;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: all;
  touch-action: all;
  scroll-behavior: smooth;

  // display: flex;
  // flex-direction: column;
  // align-items: center;

  //scroll-snap-type: y mandatory;
  &:not(.in) {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  h1 {
    position: relative;
    font-family: $serif;
    font-size: $bigHeaderFontSize;
  }
  p {
    font-family: $sans-serif;
    font-weight: 200;
  }

  #aboutBack {
    position: fixed;
    right: 5%;
    top: 3%;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 10;
  }
  #aboutBack:hover {
    cursor: pointer;

    &::before {
      transform: rotate(225deg);
    }

    &::after {
      transform: rotate(-45deg) scale(-1);
    }
  }
  #aboutBack::before,
  #aboutBack::after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;

    transition: transform 0.25s ease-in-out;
  }
  #aboutBack::before {
    transform: rotate(45deg);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
  }
  #aboutBack::after {
    transform: rotate(-45deg) scale(1);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
  }

  > * {
    margin: 0 auto;
    width: clamp(300px, 100%, 1500px);
    max-width: 90%;
  }
}

#aboutLanding {
  display: grid;
  height: 100vh;
  grid-template-areas:
    '.        .     '
    'header   header'
    'descText graph '
    '.        .     ';

  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr auto auto 1fr;

  h1 {
    grid-area: header;
    margin-bottom: 3.5rem;
    max-width: 60%;
  }

  .textContent {
    grid-area: descText;

    p {
      max-width: 60ch;
      font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
      margin-bottom: 1rem;
      line-height: 2rem;
    }

    .toc {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-top: 2rem;

      font-size: 1.25rem;
    }
  }

  .imgWrapper {
    grid-area: graph;
    display: grid;
    place-items: center;

    img {
      border-radius: 10px;
      max-width: 90%;
      max-height: min(90%, 600px);
    }
  }

  .arrowWrapper {
    position: absolute;
    overflow: visible;

    transform: translateX(-50%);

    left: 50%;
    bottom: 5%;
  }
}

// .aboutSections {
//   display: flex;
//   position: relative;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   height: 100vh;

//   img {
//     height: auto;
//     width: 35%;
//   }

//   scroll-snap-align: start;
// }

#sectionInfo {
  background-color: rgb(26, 31, 28);
  width: 100vw;
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 100vw;
    margin: 2.5rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      width: $fullWidthClamped;
      max-width: 90%;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  .subHead {
    font-weight: 600;
    text-align: center;
    margin: 3.5rem auto 2rem;
    max-width: 75ch;

    font-size: clamp(1.125rem, 1.2rem + 0.2vw, 2.5rem);
  }

  .subSection {
    background-color: rgb(53, 59, 56);
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      width: $fullWidthClamped;
      max-width: 90%;
    }

    &.cardSection {
      .textWrapper {
        h1 {
          margin-top: 2.5rem;
        }

        p {
          max-width: 75ch;
          margin-bottom: 1.75rem;
        }
      }
    }

    hr {
      opacity: 0.4;
    }
  }

  .callout {
    width: max-content;
    margin: 5rem auto;
    padding: 2rem 3rem;

    border-radius: 20px;
    background-color: rgb(30, 41, 35);
    color: white;

    box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);

    p {
      text-align: center;
      max-width: 75ch;
      font-size: clamp(1.125rem, 1.2rem + 0.135vw, 2rem);
    }
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;
    overflow: visible;

    gap: 1rem;

    .card {
      display: grid;
      border-radius: 10px;
      position: relative;
      place-items: center;
      max-height: 400px;
      box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
      overflow: visible;

      width: clamp(300px, 20%, 350px);

      .imgWrapper {
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        place-items: center;

        &::after {
          content: '';

          position: absolute;
          inset: 0;

          background: rgb(0, 0, 0);
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.7469362745098039) 0%,
            rgba(0, 0, 0, 0.6012780112044818) 25%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 100%
          );
        }

        img {
          max-height: 100%;
        }
      }

      p {
        position: absolute;
        bottom: 10%;

        font-size: 1.35rem;
        font-weight: 600;
        font-family: $sans-serif;
        color: white;
      }
    }
  }

  .graphSection {
    display: grid;
    column-gap: 2.5rem;
    // max-width: 100%;
    margin: 1rem 0 2.5rem;

    grid-template-columns: clamp(75px, 50%, 60ch) auto;

    .aboutCol {
      max-width: 60ch;
      font-size: 1.2rem;
      line-height: 2rem;
      padding-top: 1rem;
    }

    .graphCol {
      max-height: min(100%, 600px);
      padding: 1rem 2rem 4rem;

      img {
        border-radius: 5px;
        max-width: 100%;

        box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .doubleGraphSection {
    display: grid;
    gap: 1.5rem;
    // max-width: 100%;
    margin: 1rem 0;

    grid-template-columns: 50% 50%;

    .graphCol {
      max-height: min(100%, 600px);
      padding: 1rem 2rem 4rem;

      img {
        border-radius: 5px;
        max-width: 100%;

        box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

#aboutCTA {
  margin: 5rem auto;

  h1 {
    margin-bottom: 2rem;
  }

  p {
    max-width: 75ch;
    font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
    line-height: 2rem;
  }
}

#aboutInsight {
  background-color: rgb(36, 36, 36);
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    width: $fullWidthClamped;
    max-width: 90%;
  }

  h1 {
    margin: 2rem 0;
  }

  p {
    max-width: 75ch;
    font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
    line-height: 2rem;

    margin-bottom: 2rem;
  }

  hr {
    opacity: 0.6;
    margin-bottom: 1.5rem;
  }

  .imgSection {
    width: 100vw;
    max-width: 100vw;
    display: grid;
    place-items: center;
    padding-bottom: 2rem;

    .tooltip {
      margin: 2rem auto;

      padding: 1rem 2rem;
      border-radius: 20px;

      background-color: rgb(23, 34, 28);
      border: 2px solid rgb(43, 63, 52);
      box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);

      p {
        margin: 0;
      }
    }

    img {
      max-height: min(95%, 300px);
      max-width: min(1500px, 90%);
    }
  }
}

#aboutActions {
  background-color: rgb(12, 12, 12);
  width: 100vw;
  max-width: 100vw;
  padding-bottom: 2.5rem;

  > * {
    width: $fullWidthClamped;
    max-width: 90%;

    margin-left: auto;
    margin-right: auto;
  }

  .textWrapper {
    h1 {
      margin: 2rem 0;
    }

    p {
      max-width: 75ch;
      font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
      line-height: 2rem;

      margin-bottom: 2rem;
    }
  }

  hr {
    opacity: 0.6;
  }

  .ctaWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem auto;
    overflow: visible;

    gap: 1rem;

    .ctaCard {
      position: relative;
      display: grid;

      grid-template-columns: 100%;
      grid-template-rows: 1fr auto;

      .desc {
        background-color: rgb(49, 49, 49);
        padding: 1rem 2rem;

        overflow-y: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .link {
        background-color: rgb(27, 27, 27);
        padding: 1rem 2rem;

        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        a {
          color: $lightFont;
          text-decoration: underline;

          transition: color 0.2s ease-in-out;

          &:hover {
            color: orange;
          }
        }
      }

      border-radius: 10px;
      box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
      overflow: visible;

      height: clamp(300px, 15vh, 400px);
      width: clamp(300px, 20%, 350px);
    }
  }
}

@media screen and (max-width: 900px) {
  .scrollComponent {
    display: block;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    font-size: 3.5vw;

    #aboutBack {
      top: 20%;
      margin-left: 5%;
    }

    .aboutCol {
      img {
        margin-left: 12%;
        width: 70%;
      }
    }

    #sectionInfo {
      height: 240vh;
    }

    #aboutActions {
      height: 150vh;
    }
  }
}
