@use "scrollArrow";
@use "animations" as *;

.scrollComponent {
  position: relative;
  max-height: 100vh;
  width: 80%;
  left: 10%;

  transition: $transitionIn;
  z-index: 10;
  overflow: scroll;
  pointer-events: all;
  touch-action: all;

  scroll-snap-type: y mandatory;
  &:not(.in) {
    opacity: 0;
    pointer-events: none;
    touch-action: none;
  }

  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }

  .downArrow {
    bottom: 5%;
  }
  .upArrow {
    transform: rotate(225deg);
    top: 5%;
  }
}

.aboutSections {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 70%;

  scroll-snap-align: start;
}

@media screen and (max-width:400px) {
  .scrollComponent{
    display: block;
    flex-wrap: wrap;
    left:25%;
    font-size: 3.5vw;
  }

  .aboutSections{
    width:70%;
    max-width: 225px;
  }

} 