@use './animations';

$cursorSize: clamp(100px, 6vw, 400px);

#cursorWrapper {
  position: fixed;
  overflow: visible;
  z-index: 1000;

  width: $cursorSize;
  height: $cursorSize;

  display: grid;
  place-items: center;

  &,
  & * {
    pointer-events: none;
    touch-action: none;

    // will-change: transform;
  }
}

#cursor {
  position: relative;
  overflow: visible;

  z-index: 100;

  width: $cursorSize;
  height: $cursorSize;

  transform: scale(1);
  transform-origin: center;
  opacity: 0;

  border-radius: 50%;
  border: 0.125rem solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);

  transition: animations.$transitionIn, transform ease-in-out 0.25s,
    background-color ease-in-out 0.25s;

  &.in {
    opacity: 1;
  }

  &.moving:not(.intersecting),
  &.dragging {
    transform: scale(0.5);

    span {
      opacity: 0;
    }
  }

  &.intersecting {
    .ripple {
      animation-name: rippleAnimation;
    }
  }

  span {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    font-size: 0.8rem;
    opacity: 1;
    overflow: visible;
    font-family: monospace;

    transition: opacity ease-in-out 0.15s;

    color: white;
    text-shadow: 0 0 5px #000;

    transform-origin: 0 calc($cursorSize * 0.5 + 1.5rem);
  }

  .ripple {
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 50%;

    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 65%,
      rgba(255, 255, 255, 0) 100%
    );

    mix-blend-mode: lighten;

    animation-name: none;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 1.25s;
  }

  .wrapper {
    position: absolute;
    inset: 0;
    overflow: visible;

    animation-name: rotateCursor;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes rotateCursor {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rippleAnimation {
  0% {
    opacity: 1;

    transform: scale(0.5);
  }

  100% {
    opacity: 0;

    transform: scale(1.5);
  }
}
