@use './fonts' as *;
@use './utils' as *;

#infoPage {
  display: grid;

  grid-template-areas:
    '.        .      .          .'
    'header   header header     header'
    '.      ctaText  ctaText .'
    '.      ctaBtns  ctaBtns .'
    '.      .        .       .';

  grid-template-rows: clamp(75px, 10vh, 120px) clamp(100px, 30vh, 300px) auto auto 1fr;
  grid-template-columns: 1fr min(50%, 750px) min(50%, 750px) 1fr;

  place-items: center;

  overflow-x: visible;
  overflow-y: auto;
  &,
  * {
    pointer-events: all;
    touch-action: all;
  }

  &:not(.in),
  &:not(.in) * {
    pointer-events: none;
    touch-action: none;
  }

  .closeBtn {
    position: fixed;
    right: 5%;
    top: 3%;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 10;

    &:hover {
      cursor: pointer;

      &::before {
        transform: rotate(225deg);
      }

      &::after {
        transform: rotate(-45deg) scale(-1);
      }
    }
    &:before,
    &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: white;

      transition: transform 0.25s ease-in-out;
    }
    &:before {
      transform: rotate(45deg);
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
    }
    &:after {
      transform: rotate(-45deg) scale(1);
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
    }
  }

  // New info page css
  // Info Header stuff
  .infoHeader {
    overflow: visible;
    height: 100%;

    grid-area: header;

    #layeredImgs {
      display: flex;
      position: absolute;
      width: 100vw;
      height: clamp(100px, 30vh, 300px);
      margin-left: -50vw;
      left: 50%;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .backdrop {
        position: absolute;
        inset: 0;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .labelImage {
        position: relative;

        &:not(.in) {
          display: none;
        }
      }
    }

    .textWrapper {
      display: flex;

      height: 100%;

      flex-direction: column;
      justify-content: space-evenly;

      .infoHeaderTitle {
        position: relative;
        text-align: center;
        text-transform: capitalize;

        font-family: $serif;
        letter-spacing: 1px;
        font-size: $bigHeaderFontSize;

        z-index: 10;
      }

      .infoHeaderDescr {
        position: relative;

        max-width: 45ch;
        text-align: center;
        font-family: $sans-serif;
        font-weight: 200;

        font-size: clamp(1.3rem, 0.5rem + 1vw, 2.2rem);

        z-index: 10;
      }
    }
  }

  .labelDescriptionWrapper {
    grid-area: ctaText;
    max-width: 90%;

    hr {
      width: 100%;
      opacity: 0;
      margin: 1.5rem 0;
    }

    .labelDescription {
      columns: 45ch auto;
      column-rule: 1px solid rgba(255, 255, 255, 0.4);
      column-gap: 2.5rem;
      margin: 5rem 0 0;
      font-size: clamp(0.8rem, 0.8rem + 0.25vw, 1.3rem);
      font-weight: 200;
    }
  }

  .infoCTA {
    grid-area: ctaBtns;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    text-align: center;

    h2 {
      font-size: 2.5rem;
    }

    .ctaDescr {
      max-width: 60ch;
      white-space: pre-line;
    }

    .ctaBtn {
    }
  }
}

@media screen and (max-width: 768px), (max-aspect-ratio: 1/1) {
  #infoPage {
    grid-template-areas:
      '.'
      'header'
      'ctaText'
      'ctaBtns';

    height: auto;

    overflow-y: auto;

    grid-template-columns: 100vw;
    grid-template-rows: clamp(75px, 10vh, 120px) clamp(100px, 20vh, 300px) 1fr;

    #layeredImgs {
      height: clamp(100px, 20vh, 300px);
    }

    .infoHeaderTitle {
      font-weight: 600;
    }

    .infoHeaderDescr {
      font-weight: 400;
    }

    .labelDescriptionWrapper {
      margin: 3rem 0 2rem 0;
      width: 90%;
    }

    .labelDescription {
      font-size: 0.8rem;
      max-width: 100%;
      text-align: center;
    }
  }
}
