@use './fonts' as *;
@use './utils' as *;

#infoPage {
  display: grid;

  grid-template-areas:
    '.        .         '
    'header   header    '
    'ctaText  ctaButtons';

  grid-template-rows: clamp(75px, 10vh, 120px) clamp(100px, 30vh, 300px) 1fr;
  grid-template-columns: 50% 50%;

  place-items: center;

  // Don't like putting this here
  overflow: visible;

  .textWrapper {
    display: flex;

    height: 100%;

    flex-direction: column;
    justify-content: space-evenly;
  }

  &:not(.in) * {
    pointer-events: none;
    touch-action: none;
  }
}
#labelInfo {
  width: 50%;
  &:not(.natural) {
    color: #ff1f1f;
  }
}

// New info page css
// Info Header stuff
.infoHeader {
  overflow: visible;
  height: 100%;

  grid-area: header;
  pointer-events: none;
  touch-action: none;
}
.infoHeaderTitle {
  position: relative;
  text-align: center;
  text-transform: capitalize;

  font-family: $serif;
  letter-spacing: 1px;
  font-size: $bigHeaderFontSize;

  z-index: 10;
  pointer-events: all;
  touch-action: all;
}
.infoHeaderDescr {
  position: relative;

  max-width: 45ch;
  text-align: center;
  font-family: $sans-serif;
  font-weight: 200;

  z-index: 10;
  pointer-events: all;
  touch-action: all;
}
#layeredImgs {
  display: flex;
  position: absolute;
  width: 100vw;
  height: clamp(100px, 30vh, 300px);
  margin-left: -50vw;
  left: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .backdrop {
    position: absolute;

    inset: 0;

    z-index: 5;

    background-color: rgba(0, 0, 0, 0.5);
  }
}
.labelImage {
  position: relative;

  &:not(.in) {
    display: none;
  }
}

.labelDescriptionWrapper {
  grid-area: ctaText;

  .labelDescription {
    width: 45ch;
    margin-bottom: 15px;
    font-weight: 200;
  }
}
.infoCTA {
  grid-area: ctaButtons;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  button {
    margin: 30px 0;
    background-color: rgba(255, 255, 255, 0);
    font-family: $sans-serif;
    font-weight: 200;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 1rem 1.5rem;
    width: fit-content;
    font-size: 1.125rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.closeBtn {
  position: fixed;
  right: 5%;
  top: 3%;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.closeBtn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.closeBtn:before,
.closeBtn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}
.closeBtn:before {
  transform: rotate(45deg);
}
.closeBtn:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 700px) {
  #infoPage {
    grid-template-areas:
      '.'
      'header'
      'ctaText'
      'ctaButtons';
  }
}

// @media screen and (max-width: 700px) {
//   #infoPage {
//     display: flex;
//     flex-wrap: wrap;
//     padding: 100px 0;
//     // text-align: center;

//     // height: 70%;
//     font-size: 2.5vw;
//   }

//   #labelInfo {
//     width: 75%;
//   }

//   .labelImage {
//     max-width: 75%;
//     height: auto;
//   }

//   .closeBtn {
//     position: absolute;
//     right: 5%;
//     top: 10%;
//   }
// }
