.scroll-shadows {
  background: linear-gradient(#313131 33%, rgba(49, 49, 49, 0)),
    linear-gradient(rgba(49, 49, 49, 0), #313131 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, orange 50%, rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, orange 50%, rgba(0, 0, 0, 0)) 0
      100%;
  background-color: #313131;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 45px, 100% 45px, 100% 15px, 100% 15px;
}
