@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#loadpage {
  background-color: #091109;
  z-index: 1000;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  transition: opacity ease-in-out 0.2s;
}
#loadpage:not(.in) {
  pointer-events: none;
  touch-action: none;
  opacity: 0;
}

.loading-text {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.loading {
  display: inline-block;
  font: normal 17px/1em "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  color: #cff09e;
}

.percentage {
  display: inline-block;
  font: normal 17px/1em "Merriweather Sans", sans-serif;
  color: #cff09e;
}

.quiver {
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: 899;
  margin-bottom: -50px;
  margin-left: -50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.arrows {
  -webkit-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
  animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
  vertical-align: baseline;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 1px 10px;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #0b486b rgba(255, 255, 255, 0);
}

.st {
  border-bottom-color: #1a4c1d;
}

.nd {
  border-bottom-color: #246a29;
}

.rd {
  border-bottom-color: #2f8935;
}

.th {
  border-bottom-color: #39a741;
}

.fth {
  border-bottom-color: #49c151;
}

span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes equalizor {
  from {
    border-bottom-width: 60px;
  }
  to {
    border-bottom-width: 1px;
  }
}
@keyframes equalizor {
  from {
    border-bottom-width: 60px;
  }
  to {
    border-bottom-width: 1px;
  }
}
#cursorWrapper {
  position: fixed;
  overflow: visible;
  z-index: 1000;
  width: clamp(100px, 6vw, 400px);
  height: clamp(100px, 6vw, 400px);
  display: grid;
  place-items: center;
}
#cursorWrapper, #cursorWrapper * {
  pointer-events: none;
  touch-action: none;
}
#cursorWrapper.mobile {
  display: none;
}

#cursor {
  position: relative;
  overflow: visible;
  z-index: 100;
  width: clamp(100px, 6vw, 400px);
  height: clamp(100px, 6vw, 400px);
  transform: scale(1);
  transform-origin: center;
  opacity: 0;
  border-radius: 50%;
  border: 0.125rem solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  transition: opacity ease-in-out 0.5s, transform ease-in-out 0.25s, background-color ease-in-out 0.25s;
}
#cursor.in {
  opacity: 1;
}
#cursor.moving:not(.intersecting), #cursor.dragging {
  transform: scale(0.5);
}
#cursor.moving:not(.intersecting) span, #cursor.dragging span {
  opacity: 0;
}
#cursor.intersecting .ripple {
  -webkit-animation-name: rippleAnimation;
          animation-name: rippleAnimation;
}
#cursor span {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  font-size: 0.8rem;
  opacity: 1;
  overflow: visible;
  font-family: monospace;
  transition: opacity ease-in-out 0.15s;
  color: white;
  text-shadow: 0 0 5px #000;
  transform-origin: 0 calc($cursorSize * 0.5 + 1.5rem);
}
#cursor .ripple {
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 0) 100%);
  mix-blend-mode: lighten;
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
}
#cursor .wrapper {
  position: absolute;
  inset: 0;
  overflow: visible;
  -webkit-animation-name: rotateCursor;
          animation-name: rotateCursor;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotateCursor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateCursor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes rippleAnimation {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
@keyframes rippleAnimation {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
.arrow,
.arrow:before {
  position: absolute;
}

.arrow {
  width: 20px;
  height: 20px;
  transform-origin: center;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.scrollComponent {
  position: relative;
  transition: opacity ease-in-out 0.5s;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: all;
  touch-action: all;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.scrollComponent:not(.in) {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}
.scrollComponent::-webkit-scrollbar {
  display: none;
}
.scrollComponent h1 {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(2rem, 2.5vw + 1.75rem, 6rem);
}
.scrollComponent p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.scrollComponent #aboutBack {
  position: fixed;
  right: 5%;
  top: 3%;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 10;
}
.scrollComponent #aboutBack:hover {
  cursor: pointer;
}
.scrollComponent #aboutBack:hover::before {
  transform: rotate(225deg);
}
.scrollComponent #aboutBack:hover::after {
  transform: rotate(-45deg) scale(-1);
}
.scrollComponent #aboutBack::before,
.scrollComponent #aboutBack::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: white;
  transition: transform 0.25s ease-in-out;
}
.scrollComponent #aboutBack::before {
  transform: rotate(45deg);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
}
.scrollComponent #aboutBack::after {
  transform: rotate(-45deg) scale(1);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
}
.scrollComponent > * {
  margin: 0 auto;
  width: clamp(300px, 100%, 1500px);
  max-width: 90%;
}

#aboutLanding {
  display: grid;
  height: 100vh;
  grid-template-areas: ".        .     " "header   header" "descText graph " ".        .     ";
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr auto auto 1fr;
}
#aboutLanding h1 {
  grid-area: header;
  margin-bottom: 3.5rem;
}
#aboutLanding .textContent {
  grid-area: descText;
}
#aboutLanding .textContent p {
  max-width: 60ch;
  font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
  margin-bottom: 1rem;
}
#aboutLanding .textContent .toc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.25rem;
}
#aboutLanding .imgWrapper {
  grid-area: graph;
  display: grid;
  place-items: center;
}
#aboutLanding .imgWrapper img {
  max-width: min(100%, 600px);
  max-height: min(100%, 600px);
}
#aboutLanding .arrowWrapper {
  position: absolute;
  overflow: visible;
  transform: translateX(-50%);
  left: 50%;
  bottom: 5%;
}

#sectionInfo {
  background-color: #1a1f1c;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
}
#sectionInfo .wrapper {
  width: 100vw;
  margin: 2.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sectionInfo .wrapper > * {
  width: clamp(300px, 100%, 1500px);
  max-width: 90%;
}
#sectionInfo h1 {
  margin-bottom: 2rem;
}
#sectionInfo .subHead {
  font-weight: 600;
  text-align: center;
  margin: 3.5rem auto 1rem;
  max-width: 75ch;
  font-size: clamp(1.125rem, 1.2rem + 0.2vw, 2.5rem);
}
#sectionInfo .subSection {
  background-color: #353b38;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sectionInfo .subSection > * {
  width: clamp(300px, 100%, 1500px);
  max-width: 90%;
}
#sectionInfo .subSection.cardSection .textWrapper h1 {
  margin-top: 2.5rem;
}
#sectionInfo .subSection.cardSection .textWrapper p {
  max-width: 75ch;
  margin-bottom: 1.75rem;
}
#sectionInfo .subSection hr {
  opacity: 0.4;
}
#sectionInfo .callout {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 5rem auto;
  padding: 2rem 3rem;
  border-radius: 20px;
  background-color: #1e2923;
  color: white;
  box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
}
#sectionInfo .callout p {
  text-align: center;
  max-width: 75ch;
  font-size: clamp(1.125rem, 1.2rem + 0.135vw, 2rem);
}
#sectionInfo .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0;
  overflow: visible;
  gap: 1rem;
}
#sectionInfo .cards .card {
  display: grid;
  border-radius: 10px;
  position: relative;
  place-items: center;
  max-height: 400px;
  box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
  overflow: visible;
  width: clamp(300px, 20%, 350px);
}
#sectionInfo .cards .card .imgWrapper {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}
#sectionInfo .cards .card .imgWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7469362745) 0%, rgba(0, 0, 0, 0.6012780112) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
}
#sectionInfo .cards .card .imgWrapper img {
  max-height: 100%;
}
#sectionInfo .cards .card p {
  position: absolute;
  bottom: 10%;
  font-size: 1.35rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}
#sectionInfo .graphSection {
  display: grid;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  margin: 1rem 0 2.5rem;
  grid-template-columns: clamp(75px, 50%, 60ch) auto;
}
#sectionInfo .graphSection .aboutCol {
  max-width: 60ch;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-top: 1rem;
}
#sectionInfo .graphSection .graphCol {
  max-height: min(100%, 600px);
  padding: 1rem 2rem 4rem;
}
#sectionInfo .graphSection .graphCol img {
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
}
#sectionInfo .doubleGraphSection {
  display: grid;
  gap: 1.5rem;
  margin: 1rem 0;
  grid-template-columns: 50% 50%;
}
#sectionInfo .doubleGraphSection .graphCol {
  max-height: min(100%, 600px);
  padding: 1rem 2rem 4rem;
}
#sectionInfo .doubleGraphSection .graphCol img {
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
}

#aboutCTA {
  margin: 5rem auto;
}
#aboutCTA h1 {
  margin-bottom: 2rem;
}
#aboutCTA p {
  max-width: 75ch;
  font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
  line-height: 2rem;
}

#aboutInsight {
  background-color: #242424;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutInsight > * {
  width: clamp(300px, 100%, 1500px);
  max-width: 90%;
}
#aboutInsight h1 {
  margin: 2rem 0;
}
#aboutInsight p {
  max-width: 75ch;
  font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
  line-height: 2rem;
  margin-bottom: 2rem;
}
#aboutInsight hr {
  opacity: 0.6;
}
#aboutInsight .imgSection {
  width: 100vw;
  max-width: 100vw;
  display: grid;
  place-items: center;
}
#aboutInsight .imgSection .tooltip {
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 20px;
  background-color: #17221c;
  border: 2px solid #2b3f34;
  box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
}
#aboutInsight .imgSection .tooltip p {
  margin: 0;
}
#aboutInsight .imgSection img {
  max-height: min(95%, 300px);
  max-width: min(1500px, 90%);
}

#aboutActions {
  background-color: #0c0c0c;
  width: 100vw;
  max-width: 100vw;
}
#aboutActions > * {
  width: clamp(300px, 100%, 1500px);
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#aboutActions h1 {
  margin: 2rem 0;
}
#aboutActions > p {
  max-width: 75ch;
  font-size: clamp(1rem, 0.8rem + 0.25vw, 1.3rem);
  line-height: 2rem;
  margin-bottom: 2rem;
}
#aboutActions .ctaWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0;
  overflow: visible;
  gap: 1rem;
}
#aboutActions .ctaWrapper .ctaCard {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
  border-radius: 10px;
  box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
  overflow: visible;
  height: clamp(300px, 15vh, 400px);
  width: clamp(300px, 20%, 350px);
}
#aboutActions .ctaWrapper .ctaCard .desc {
  background-color: #313131;
  padding: 1rem 2rem;
  overflow-y: auto;
  scrollbar-width: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#aboutActions .ctaWrapper .ctaCard .desc::-webkit-scrollbar {
  display: none;
}
#aboutActions .ctaWrapper .ctaCard .link {
  background-color: #1b1b1b;
  padding: 1rem 2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 900px) {
  .scrollComponent {
    display: block;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    font-size: 3.5vw;
  }
  .scrollComponent #aboutBack {
    top: 20%;
    margin-left: 5%;
  }
  .scrollComponent .aboutCol img {
    margin-left: 12%;
    width: 70%;
  }
  .scrollComponent #sectionInfo {
    height: 240vh;
  }
  .scrollComponent #aboutActions {
    height: 150vh;
  }
}
#infoPage {
  display: grid;
  grid-template-areas: ".        .      .          ." "header   header header     header" ".      ctaText  ctaButtons .";
  grid-template-rows: clamp(75px, 10vh, 120px) clamp(100px, 30vh, 300px) auto;
  grid-template-columns: 1fr min(50%, 750px) min(50%, 750px) 1fr;
  place-items: center;
  overflow-x: visible;
  overflow-y: auto;
}
#infoPage,
#infoPage * {
  pointer-events: all;
  touch-action: all;
}
#infoPage .textWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
#infoPage:not(.in), #infoPage:not(.in) * {
  pointer-events: none;
  touch-action: none;
}

#labelInfo {
  width: 50%;
}
#labelInfo:not(.natural) {
  color: #ff1f1f;
}

.infoHeader {
  overflow: visible;
  height: 100%;
  grid-area: header;
  pointer-events: none;
  touch-action: none;
}

.infoHeaderTitle {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 1px;
  font-size: clamp(2rem, 2.5vw + 1.75rem, 6rem);
  z-index: 10;
  pointer-events: all;
  touch-action: all;
}

.infoHeaderDescr {
  position: relative;
  max-width: 45ch;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  z-index: 10;
  pointer-events: all;
  touch-action: all;
}

#layeredImgs {
  display: flex;
  position: absolute;
  width: 100vw;
  height: clamp(100px, 30vh, 300px);
  margin-left: -50vw;
  left: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#layeredImgs .backdrop {
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

.labelImage {
  position: relative;
}
.labelImage:not(.in) {
  display: none;
}

.labelDescriptionWrapper {
  grid-area: ctaText;
}
.labelDescriptionWrapper .labelDescription {
  width: 45ch;
  margin-bottom: 15px;
  font-size: clamp(0.8rem, 0.8rem + 0.25vw, 1.3rem);
  font-weight: 200;
}

.infoCTA {
  grid-area: ctaButtons;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.infoCTA button {
  margin: 30px 0;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.125rem;
  transition: background-color 0.2s ease-in-out;
}
.infoCTA button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.closeBtn {
  position: fixed;
  right: 5%;
  top: 3%;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 10;
}

.closeBtn:hover {
  cursor: pointer;
}
.closeBtn:hover::before {
  transform: rotate(225deg);
}
.closeBtn:hover::after {
  transform: rotate(-45deg) scale(-1);
}

.closeBtn::before,
.closeBtn::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: white;
  transition: transform 0.25s ease-in-out;
}

.closeBtn::before {
  transform: rotate(45deg);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
}

.closeBtn::after {
  transform: rotate(-45deg) scale(1);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 768px), (max-aspect-ratio: 1/1) {
  #infoPage {
    grid-template-areas: "." "header" "ctaText" "ctaButtons";
    height: auto;
    overflow-y: auto;
    grid-template-columns: 100vw;
    grid-template-rows: clamp(75px, 10vh, 120px) clamp(100px, 20vh, 300px) 1fr;
  }

  #layeredImgs {
    height: clamp(100px, 20vh, 300px);
  }

  .infoHeaderTitle {
    font-weight: 600;
  }

  .infoHeaderDescr {
    font-weight: 400;
  }

  .labelDescriptionWrapper {
    margin: 3rem 0 2rem 0;
    width: 90%;
  }

  .labelDescription {
    font-size: 0.8rem;
    max-width: 100%;
    text-align: center;
  }
}
#landing {
  position: fixed;
  inset: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  opacity: 1;
  pointer-events: all;
  touch-action: all;
  transition: opacity ease-in-out 0.5s;
}
#landing h1 {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 1px;
  font-size: clamp(2rem, 2.5vw + 1.75rem, 6rem);
  margin-bottom: 1rem;
}
#landing p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 3rem;
  text-align: center;
}
#landing button {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  cursor: pointer;
}
#landing button#exploreBtn {
  color: white;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  transition: background-color 0.2s ease-in-out;
}
#landing button#exploreBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#landing button#learnMoreBtn {
  color: rgba(255, 255, 255, 0.5);
  border: none;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
#landing button#learnMoreBtn:hover {
  color: white;
}
#landing:not(.in), #landing.exploring {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.tp-dfwv {
  z-index: 10000;
}

.statsPanel {
  z-index: 1000;
  overflow: visible;
}
.statsPanel canvas {
  z-index: 1000;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow: hidden;
}

a {
  position: relative;
  color: #dde9e1;
  text-decoration: none;
  overflow: visible;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
a::after {
  content: "";
  z-index: -1;
  overflow: visible;
  height: 0.125rem;
  width: 100%;
  background-color: orange;
  position: absolute;
  left: 0%;
  bottom: 2%;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.15s ease-in-out;
}
a:hover::after {
  transform: scaleX(0.1);
}

svg {
  cursor: pointer;
}

#content {
  position: fixed;
  inset: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dde9e1;
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}
#content.in {
  overflow-y: auto;
}
#content:not(.in) {
  opacity: 0;
  overflow-y: hidden;
  pointer-events: none;
  touch-action: none;
}

canvas {
  position: absolute;
  overflow: hidden;
  z-index: 5;
  cursor: -webkit-grab;
  cursor: grab;
}
canvas:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
canvas.intersecting {
  cursor: pointer;
}

#content > *:not(#landing):not(#learnMore):not(canvas):not(#infoPage) {
  width: clamp(300px, 100%, 1500px);
  max-width: 90vw;
}

.headerWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}
.headerWrapper * {
  overflow: visible;
}
.headerWrapper header {
  width: clamp(300px, 100%, 1500px);
  max-width: 90vw;
  height: clamp(75px, 10vh, 120px);
  z-index: 10;
  pointer-events: none;
  touch-action: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
  text-shadow: 0 0 5px #000;
  overflow: visible;
}
.headerWrapper header:not(.in) {
  opacity: 0;
}
.headerWrapper header:not(.in), .headerWrapper header:not(.in) * {
  pointer-events: none;
  touch-action: none;
}
.headerWrapper header h2 {
  font-family: "Cormorant Garamond", serif;
}
.headerWrapper header.in .navLink {
  cursor: pointer;
  font-weight: 200;
  pointer-events: all;
  touch-action: all;
}

.domComponent {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity ease-in-out 0.5s;
  z-index: 10;
  pointer-events: all;
  touch-action: all;
}
.domComponent:not(.in) {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

#backdrop {
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  pointer-events: all;
  touch-action: all;
  transition: opacity ease-in-out 0.5s;
}
#backdrop:not(.in) {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

@media (max-width: 768px) {
  #content > *:not(#landing):not(#learnMore):not(canvas) {
    max-width: 100vw;
    overflow-y: auto;
  }
}

/*# sourceMappingURL=style.css.map */