@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#loadpage {
  background-color: #091109;
  z-index: 1000;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  inset: 0;
  transition: opacity ease-in-out 0.2s;
}
#loadpage:not(.in) {
  pointer-events: none;
  touch-action: none;
  opacity: 0;
}

.loading-text {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.loading {
  display: inline-block;
  font: normal 17px/1em "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  color: #cff09e;
}

.percentage {
  display: inline-block;
  font: normal 17px/1em "Merriweather Sans", sans-serif;
  color: #cff09e;
}

.quiver {
  position: fixed;
  bottom: 50%;
  left: 50%;
  z-index: 899;
  margin-bottom: -50px;
  margin-left: -50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.arrows {
  -webkit-animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
  animation: equalizor cubic-bezier(0.77, 0, 0.175, 1) 0.5s alternate-reverse infinite;
  vertical-align: baseline;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 1px 10px;
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #0b486b rgba(255, 255, 255, 0);
}

.st {
  border-bottom-color: #1a4c1d;
}

.nd {
  border-bottom-color: #246a29;
}

.rd {
  border-bottom-color: #2f8935;
}

.th {
  border-bottom-color: #39a741;
}

.fth {
  border-bottom-color: #49c151;
}

span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes equalizor {
  from {
    border-bottom-width: 60px;
  }
  to {
    border-bottom-width: 1px;
  }
}
@keyframes equalizor {
  from {
    border-bottom-width: 60px;
  }
  to {
    border-bottom-width: 1px;
  }
}
.arrow,
.arrow:before {
  position: absolute;
}

.arrow {
  width: 20px;
  height: 20px;
  margin: -20px 0 0 -20px;
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.scrollComponent {
  position: relative;
  max-height: 100vh;
  transition: opacity ease-in-out 0.5s;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  pointer-events: all;
  touch-action: all;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.scrollComponent:not(.in) {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}
.scrollComponent::-webkit-scrollbar {
  display: none;
}
.scrollComponent .downArrow {
  bottom: 5%;
}
.scrollComponent .upArrow {
  transform: rotate(225deg);
  top: 5%;
}
.scrollComponent h1 {
  position: relative;
  right: 30px;
  margin: 30px;
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(2rem, 1.5vw + 1.75rem, 6rem);
}
.scrollComponent #aboutBack {
  position: -webkit-sticky;
  position: sticky;
  border: none;
  margin-left: 5%;
  top: 50%;
}

.aboutSections {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 20%;
  height: 100vh;
  width: 65%;
  scroll-snap-align: start;
}

@media screen and (max-width: 500px) {
  .scrollComponent {
    display: block;
    flex-wrap: wrap;
    max-width: 100%;
    font-size: 3.5vw;
  }
  .scrollComponent #aboutBack {
    top: 20%;
    margin-left: 5%;
  }

  .aboutSections {
    max-width: 70%;
  }
}
#labelListWrapper {
  pointer-events: none;
  touch-action: none;
  text-shadow: 0 0 5px #000;
  line-height: 32px;
  margin-top: 40px;
}
#labelListWrapper, #labelListWrapper * {
  overflow: visible;
}
#labelListWrapper.in #investigateBtn {
  pointer-events: all;
  touch-action: all;
}
#labelListWrapper.in #updateLabelsBtn {
  pointer-events: all;
  touch-action: all;
}

#infoPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tileLabel {
  max-width: 200px;
}
.tileLabel:not(.natural) {
  color: crimson;
}

button {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  cursor: pointer;
}
button#investigateBtn, button#updateLabelsBtn {
  color: white;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.125rem;
  transition: background-color 0.2s ease-in-out;
}
button#investigateBtn:hover, button#updateLabelsBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.closeBtn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.closeBtn:hover {
  opacity: 1;
}

.closeBtn:before,
.closeBtn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}

.closeBtn:before {
  transform: rotate(45deg);
}

.closeBtn:after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 700px) {
  #infoPage {
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    text-align: center;
    height: 70%;
    font-size: 2.5vw;
  }

  .tileLabel {
    max-width: 200px;
    width: 100%;
  }
}
#landing {
  position: fixed;
  inset: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  opacity: 1;
  pointer-events: all;
  touch-action: all;
  transition: opacity ease-in-out 0.5s;
}
#landing h1 {
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 1px;
  font-size: clamp(2rem, 2.5vw + 1.75rem, 6rem);
  margin-bottom: 1rem;
}
#landing p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 3rem;
}
#landing button {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  cursor: pointer;
}
#landing button#exploreBtn {
  color: white;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  transition: background-color 0.2s ease-in-out;
}
#landing button#exploreBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#landing button#learnMoreBtn {
  color: rgba(255, 255, 255, 0.5);
  border: none;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
#landing button#learnMoreBtn:hover {
  color: white;
}
#landing:not(.in), #landing.exploring {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.tp-dfwv {
  z-index: 10000;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  color: orange;
  text-decoration: none;
}

svg {
  cursor: pointer;
}

#content {
  position: fixed;
  inset: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  pointer-events: none;
  touch-action: none;
  opacity: 1;
  transition: opacity ease-in-out 0.5s;
}
#content:not(.in) {
  opacity: 0;
}

canvas {
  position: absolute;
  z-index: 5;
}

#content > *:not(#landing):not(#learnMore):not(canvas) {
  width: clamp(300px, 100%, 1500px);
  max-width: 90vw;
}

.headerWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
}
.headerWrapper * {
  overflow: visible;
}
.headerWrapper header {
  width: clamp(300px, 100%, 1500px);
  max-width: 90vw;
  height: clamp(75px, 10vh, 120px);
  z-index: 10;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  pointer-events: all;
  touch-action: all;
  transition: opacity ease-in-out 0.5s;
  text-shadow: 0 0 5px #000;
  overflow: visible;
}
.headerWrapper header:not(.in) {
  opacity: 0;
}
.headerWrapper header:not(.in), .headerWrapper header:not(.in) * {
  pointer-events: none;
  touch-action: none;
}
.headerWrapper header h2 {
  font-family: "Cormorant Garamond", serif;
}
.headerWrapper header .navLink {
  cursor: pointer;
  font-weight: 200;
  pointer-events: all;
  touch-action: all;
}

.domComponent {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity ease-in-out 0.5s;
  z-index: 10;
  pointer-events: all;
  touch-action: all;
}
.domComponent:not(.in) {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

#backdrop {
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  pointer-events: all;
  touch-action: all;
  transition: opacity ease-in-out 0.5s;
}
#backdrop:not(.in).exploring {
  opacity: 0;
  pointer-events: none;
  touch-action: none;
}

/*# sourceMappingURL=style.css.map */